* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(150deg, #e35614, #e7d10a);
  color: white;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header,
form {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0 0.5em;
  border: white;
  background: white;
  font-size: 1.3em;
  color: black;
}
form button {
  transition: all 0.3s ease;
  color: #e35614;
  background: white;
  cursor: pointer;
}
form button :hover {
  background: #e35614;
  color: white;
}

.todo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.todo-list {
  min-width: 40%;
  list-style: none;
}
.newDiv {
  min-height: 5vh;
  margin: 0.5em;
  border: white;
  background: white;
  font-size: 1.3em;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.newDiv li {
  flex: 1;
}

.complete-btn,
.delete-btn {
  border: transparent;
  color: white;
  background: tomato;
  padding: 1em;
  pointer-events: all;
  cursor: pointer;
}
.complete-btn {
  background: blue;
}
.todo-item {
  padding: 0.5em 0.5em;
  font-size: 1.2rem;
}
.fa-check,
.fa-trash {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
}
.fall {
  transform: translateY(8rem) rotateZ(10deg);
  opacity: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 0 1rem;
  position: relative;
  overflow: hidden;
}
select {
  min-width: 20vh;
  min-height: 5vh;
  color: #e35614;
  cursor: pointer;
  padding: 0.5rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #e35614;
  top: 0;
  right: 0;
  padding: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: brown;
}
